body {
    background: url("../images/scribble_light.png") repeat scroll 0 0 transparent;
    margin: 0;
    padding: 0; 
}
.deck-container {
    background: none repeat scroll 0 0 transparent;
    font-size: 16px;
    height: 100%;
    margin: 0 auto;
    max-width: 960px;
    min-height: 560px;
    /*overflow-y: auto;*/
    width: auto;
}

.deck-container .slide h3 {
    color: #444444;
    font-size: 20px;
    margin-top: 30px;
}

.vcenter {
    -moz-transform: translate(0pt, -50%);
    -webkit-transform: translate(0pt, -50%);
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
}

.deck-container .slide .CodeMirror {
    height: auto;
}

.CodeMirror, .deck-codemirror-result {
    background-color: #fff;
}
.deck-container .slide .deck-codemirror-result {
    margin-bottom: 55px;
}

.csstransforms.boxshadow .deck-container .slide .CodeMirror pre:after {
    -moz-transform: none;
    right: inherit;
}

.csstransforms.boxshadow .deck-container .slide .CodeMirror pre:before,
.csstransforms.boxshadow .deck-container .slide .CodeMirror pre:after {
    bottom: auto;
    box-shadow: none;
    content: "";
    height: auto;
    max-width: auto;
    position: inherit;
    width: auto;
    z-index: 0;
}

section.slide {
    height: 100%;
}
section.slide > div {
    background-color: #FFFFFF;
    box-shadow: 0 0 3px #333333;
    height: 100%;
    overflow: auto;
    padding: 0 20px;
}

/*url("http://backboneconf.com/img/backbone.png") no-repeat scroll center center transparent*/