body {
    background: url("../images/scribble_light.png") repeat scroll 0 0 transparent;
}
.deck-container {
  width: auto;
  max-width: 864px;
  margin: 16px auto 24px auto;
  min-height: 560px;
  font-size: 16px;
    background: none;
}

.vcenter {
    -moz-transform: translate(0pt, -50%);
    -webkit-transform: translate(0pt, -50%);
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
}

.CodeMirror, .deck-codemirror-result {
    background-color: #fff;
}

.csstransforms.boxshadow .deck-container .slide .CodeMirror pre:after {
    -moz-transform: none;
    right: inherit;
}

.csstransforms.boxshadow .deck-container .slide .CodeMirror pre:before,
.csstransforms.boxshadow .deck-container .slide .CodeMirror pre:after {
    bottom: auto;
    box-shadow: none;
    content: "";
    height: auto;
    max-width: auto;
    position: inherit;
    width: auto;
    z-index: 0;
}

/*url("http://backboneconf.com/img/backbone.png") no-repeat scroll center center transparent*/