<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Backbone.js</title>

    <meta name="description" content="Backbone.js Presentation">

    <meta name="author" content="Matt Sheehan">
    <meta name="viewport" content="width=1024, user-scalable=no">

    <!-- Core and extension CSS files -->
    <link rel="stylesheet" href="js/deck/core/deck.core.css">
    <link rel="stylesheet" href="js/deck/extensions/goto/deck.goto.css">
    <link rel="stylesheet" href="js/deck/extensions/menu/deck.menu.css">
    <link rel="stylesheet" href="js/deck/extensions/navigation/deck.navigation.css">
    <link rel="stylesheet" href="js/deck/extensions/status/deck.status.css">
    <link rel="stylesheet" href="js/deck/extensions/hash/deck.hash.css">

    <link rel="stylesheet" id="style-theme-link" href="js/deck/themes/style/web-2.0.css">
    <link rel="stylesheet" id="transition-theme-link" href="js/deck/themes/transition/fade.css">

    <!-- ********************* -->
    <!-- code mirror extension -->
    <link rel="stylesheet" href="js/deck/extensions/codemirror/deck.codemirror.css">

    <!-- Base codemiror code -->
    <script src="js/deck/extensions/codemirror/codemirror.js"></script>

    <!-- Syntax highlighting Modes -->

    <!-- javascript -->
    <script src="js/deck/extensions/codemirror/mode/javascript/javascript.js"></script>

    <!-- html mode (note html mode requires xml, css and javascript) -->
    <script src="js/deck/extensions/codemirror/mode/xml/xml.js"></script>
    <script src="js/deck/extensions/codemirror/mode/css/css.js"></script>
    <script src="js/deck/extensions/codemirror/mode/htmlmixed/htmlmixed.js"></script>


    <link rel="stylesheet" href="js/deck/extensions/codemirror/themes/default.css">

    <link rel="stylesheet" href="css/main.css">

    <script src="js/deck/modernizr.custom.js"></script>
</head>

<body class="">

<article class="deck-container">
    <section class="slide">
        <div>
            <hgroup>
                <h1>Backbone.js</h1>
                <!--<h2>The dynamic stylesheet language.</h2>-->
            </hgroup>
        </div>
    </section>

    <section class="slide">
        <div>
        <h2>What is it?</h2>
        <blockquote>
            Backbone.js gives structure to web applications by providing models with key-value binding and custom
            events, collections with a rich API of enumerable functions, views with declarative event handling, and
            connects it all to your existing API over a RESTful JSON interface.
        </blockquote>
        </div>
    </section>

    <section class="slide">
        <div>
        <h2>Components</h2>
        <ol>
            <li class="slide">
                <h3>Models</h3>

                <p>Contains the interactive data as well as a large part of the logic surrounding it: conversions,
                    validations, computed properties, and access control.</p>
            </li>
            <li class="slide">
                <h3>Collections</h3>

                <p>Ordered sets of models.</p>
            </li>
            <li class="slide">
                <h3>Views</h3>

                <p>Responsible for drawing the model on the page.</p>
            </li>
            <li class="slide">
                <h3>Routers</h3>

                <p>Provides methods for routing client-side pages, and connecting them to actions and events.</p>
            </li>
        </ol>
        </div>
    </section>

    <section class="slide">
        <div>
        <h2>Events Mixin</h2>
        <p>Models, Collections, Views, and Routers all have the Events module mixed in.</p>
        <div class="slide vertical-code">
        <h3>Empty object extended with Backbone.Events</h3>
        <div>
        <textarea class="code" mode="javascript" style="display: none;" runnable="true" globals="$,_,Backbone">
var object = {};

_.extend(object, Backbone.Events);

object.on("alert", function(msg) {
  console.log("Triggered " + msg);
});

object.trigger("alert", "an event");
        </textarea>
        </div>
        </div>
        </div>
    </section>

    <section class="slide">
        <div>
        <h2>Layers</h2>
            <p>Objects are composed of other objects in the same or lower layers. Objects listen for events triggered from other objects in the same or lower layers.</p>
            <img src="images/backbone-layer.png" />
        </div>
    </section>

    <section class="slide">
        <div>
        <h2>Models</h2>
        <div class="slide vertical-code">
        <h3>Creating a Model instance</h3>
        <div>
        <textarea class="code" mode="javascript" style="display: none;" runnable="true" globals="$,_,Backbone">
var TaskModel = Backbone.Model.extend({
    defaults: {
        name: 'Untitled'
    }
});

var task = new TaskModel();

// access attributes with get/set
console.log(task.get('name'));

task.set('name', 'Do Laundry');
console.log(task.get('name'));
        </textarea>
        </div>
        </div>
        <div class="slide vertical-code">
        <h3>Validation</h3>
        <div>
        <textarea class="code" mode="javascript" style="display: none;" runnable="true" globals="jQuery,$,_,Backbone">
var Chapter = Backbone.Model.extend({
  validate: function(attrs) {
    if (attrs.end < attrs.start) {
      return "can't end before it starts";
    }
  }
});

var one = new Chapter({
  title : "Chapter One: The Beginning"
});

// validation failure triggers error event
one.on("error", function(model, error) {
  console.log(error);
});

one.set({
  start: 15,
  end:   10
});
        </textarea>
        </div>
        </div>
        <div class="slide vertical-code">
        <h3>Instance and Static methods</h3>
        <div>
        <textarea class="code" mode="javascript" style="display: none;" runnable="true" globals="$,_,Backbone">
var TaskModel = Backbone.Model.extend({
    instanceMethod: function() {
        console.log('instance method called');
    }
}, {
    staticMethod: function() {
        console.log('static method called');
    }
});

var task = new TaskModel();

task.instanceMethod();
TaskModel.staticMethod();
        </textarea>
        </div>
        </div>
        <div class="slide vertical-code">
        <h3>Binding events</h3>
        <div>
        <textarea class="code" mode="javascript" style="display: none;" runnable="true" globals="$,_,Backbone">
var TaskModel = Backbone.Model.extend({});

var task = new TaskModel();

task.on('change', function(model, options) {
    console.log('one of the attributes was changed');
});
task.on('change:name', function(model, value, options) {
    console.log('the name attribute was changed to ' + value);
});

task.set('name', 'Wash the car');
task.set('description', 'something else');
        </textarea>
        </div>
        </div>
        <div class="slide vertical-code">
        <h3>JSON</h3>
        <div>
        <textarea class="code" mode="javascript" style="display: none;" runnable="true" globals="$,_,Backbone">
var TaskModel = Backbone.Model.extend({});

var task = new TaskModel({
    name: 'Get groceries',
    description: 'Go to the store and buy some groceries.',
    due: new Date()
});

console.log(task.toJSON());
        </textarea>
        </div>
        </div>
        <div class="slide vertical-code">
        <h3>REST</h3>
        <div>
        <textarea class="code" mode="javascript" style="display: none;" runnable="true" globals="jQuery,$,_,Backbone">
var TaskModel = Backbone.Model.extend({
    urlRoot: '/test'
});

var task = new TaskModel({
    name: 'Get groceries',
    description: 'Go to the store and buy some groceries.',
    due: new Date()
});

// mock sync
Backbone.sync = function(method, model) {
    console.log('method: ' + method);
    if (method == 'create') {
        model.id = 1;
    }
};

task.save();
task.save();
task.fetch();
task.destroy();
        </textarea>
        </div>
        </div>
        </div>

    </section>

    <section class="slide">
        <div>
        <h2>Collections</h2>
        <div class="slide vertical-code">
        <h3>Create a Collection instance</h3>
        <div>
        <textarea class="code" mode="javascript" style="display: none;" runnable="true" globals="jQuery,$,_,Backbone">
var TaskModel = Backbone.Model.extend({});
var TaskCollection = Backbone.Collection.extend({
    model: TaskModel
});

var tasks = new TaskCollection([
    { name: 'task1', description: 'first task' },
    { name: 'task2', description: 'second task' }
]);

console.log('collection has ' + tasks.length + ' tasks');

// underscore iteration functions proxied
tasks.each(function(model) {
    console.log(model.get('name'));
});
        </textarea>
        </div>
        </div>
        <div class="slide vertical-code">
        <h3>Add/remove events</h3>
        <div>
        <textarea class="code" mode="javascript" style="display: none;" runnable="true" globals="jQuery,$,_,Backbone">
var TaskModel = Backbone.Model.extend({});
var TaskCollection = Backbone.Collection.extend({
    model: TaskModel
});

var tasks = new TaskCollection();

tasks.on('add', function(model, collection) {
    console.log('added ' + model.get('name'));
});
tasks.on('remove', function(model, collection) {
    console.log('removed ' + model.get('name'));
});

// you can pass {silent: true} option to suppress event
tasks.add([
    {name: 'task1'},
    {name: 'task2'}
]);

var task1 = tasks.at(0);
var task2 = tasks.at(1);
tasks.remove(task1);
task2.destroy();
        </textarea>
        </div>
        </div>
        <div class="slide vertical-code">
        <h3>Fetch</h3>
        <div>
        <textarea class="code" mode="javascript" style="display: none;" runnable="true" globals="jQuery,$,_,Backbone">
var TaskModel = Backbone.Model.extend({});

var TaskCollection = Backbone.Collection.extend({
    model: TaskModel,
            
    url: '/tasks'
});

var tasks = new TaskCollection();

// mock sync
Backbone.sync = function(method, model) {
    console.log('method: ' + method);
    model.reset([
        {name: 'fetch1'},
        {name: 'fetch2'},
        {name: 'fetch3'}
    ]);
};

tasks.fetch();
console.log('found ' + tasks.length + ' tasks');
        </textarea>
        </div>
        </div>
        <div class="slide vertical-code">
        <h3>Fetch with parameters</h3>
        <div>
        <textarea class="code" mode="javascript" style="display: none;" runnable="true" globals="jQuery,$,_,Backbone">
var TaskModel = Backbone.Model.extend({});

var TaskCollection = Backbone.Collection.extend({
    model: TaskModel,

    url: function() {
        return '/tasks?username=' + this._username;
    },

    fetchByUser: function(username) {
        this._username = username;
        return this.fetch();
    }
});

var tasks = new TaskCollection();

// mock sync
Backbone.sync = function(method, model) {
    console.log(model.url());
};

tasks.fetchByUser('smith');
tasks.fetchByUser('johnson');
        </textarea>
        </div>
        </div>
        </div>
    </section>

    <section class="slide">
        <div>
        <h2>Views</h2>
        <p>Views automatically create a container element. The render method will update the contents of the container in response to model events.</p>
        <div class="slide vertical-code">
        <h3>Create a View instance</h3>
        <div>
        <textarea class="code" mode="javascript" style="display: none;" runnable="true" globals="jQuery,$,_,Backbone">
var TaskModel = Backbone.Model.extend();

var TaskView = Backbone.View.extend({

    // underscore.js template function
    template: _.template(
        '<span>Name: <%= name %></span>' +
        '<span>Description: <%= description %></span>'
    ),

    render: function() {
        var html = this.template(this.model.toJSON());

        // this.$el points to the container element
        this.$el.html(html);
    }
});

var model = new TaskModel({
    name: 'Change oil',
    description: 'blah blah'
});

var view = new TaskView({model: model});
console.log('html: ' + _.escape(view.$el.html()));

view.render();
console.log('html: ' + _.escape(view.$el.html()));
        </textarea>
        </div>
        </div>
        <div class="slide vertical-code">
        <h3>Repainting on change event</h3>
        <div>
        <textarea class="code" mode="javascript" style="display: none;" runnable="true" globals="jQuery,$,_,Backbone">
var TaskModel = Backbone.Model.extend();

var TaskView = Backbone.View.extend({

    initialize: function(options) {
        this.model.bind('change', this.render, this);
    },

    template: _.template(
        '<span>Name: <%= name %></span>' +
        '<span>Description: <%= description %></span>'
    ),

    render: function() {
        var html = this.template(this.model.toJSON());
        this.$el.html(html);
    }
});

var model = new TaskModel({
    name: 'Change oil',
    description: 'blah blah'
});

var view = new TaskView({model: model});
view.render();
console.log('html: ' + _.escape(view.$el.html()));

model.set('name', 'Set up oil change');
console.log('html: ' + _.escape(view.$el.html()));
        </textarea>
        </div>
        </div>
        <div class="slide vertical-code">
        <h3>Handling DOM events</h3>
        <div>
        <textarea class="code" mode="javascript" style="display: none;" runnable="true" globals="jQuery,$,_,Backbone">
var TaskModel = Backbone.Model.extend();

var TaskView = Backbone.View.extend({

    initialize: function(options) {
        this.model.bind('change', this.render, this);
    },

    events: {
        // 'event selector' : 'method'
        'click .name': 'handleNameClick',
        'mouseenter .description': 'handleDescriptionMouseEnter'
    },

    handleNameClick: function(event) {
        console.log('handle name click');
    },

    handleDescriptionMouseEnter: function(event) {
        console.log('handle description mouseenter');
    },

    template: _.template(
        '<span class="name">Name: <%= name %></span>' +
        '<span class="description">Description: <%= description %></span>'
    ),

    render: function() {
        var html = this.template(this.model.toJSON());
        this.$el.html(html);
    }
});

var model = new TaskModel({
    name: 'foo',
    description: 'bar'
});

var view = new TaskView({model: model});
view.render();
console.log('html: ' + _.escape(view.$el.html()));

// simulate events
view.$el.find('.name').click();
view.$el.find('.description').mouseenter();
        </textarea>
        </div>
        </div>
        </div>
    </section>

    <section class="slide">
        <div>
        <h2>Routers</h2>
        <div class="slide vertical-code">
        <h3>Creating a router instance</h3>
        <div>
        <textarea class="code" mode="javascript" style="display: none;" globals="jQuery,$,_,Backbone">
var MyRouter = Backbone.Router.extend({
    routes: {
        'help':                 'help',    // #help
        'search/:query':        'search',  // #search/kiwis
        'search/:query/p:page': 'search'   // #search/kiwis/p7
    },

    help: function() {
        // do help stuff
    },

    search: function(query, page) {
        // do search stuff
    }
});

var router = new MyRouter();
router.navigate("help/troubleshooting", {trigger: true});
        </textarea>
        </div>
        </div>
        </div>
    </section>

    <section class="slide">
        <div>
            <h2>Plugins</h2>
            <ul>
                <li class="slide">
                    <h3>Backbone Memento</h3>
                    <p>Create undo points to store / restore your model's state.</p>
                    <a href="https://github.com/derickbailey/backbone.memento">https://github.com/derickbailey/backbone.memento</a>
                </li>
                <li class="slide">
                    <h3>Backbone-relational</h3>
                    <p>Backbone-relational provides one-to-one, one-to-many and many-to-one relations between models for Backbone.</p>
                    <a href="https://github.com/PaulUithol/Backbone-relational">https://github.com/PaulUithol/Backbone-relational</a>
                </li>
                <li class="slide">
                    <h3>Backbone.Marionette</h3>
                    <p>Backbone.Marionette is a composite application library for Backbone.js that aims to simplify the construction of large scale JavaScript applications.</p>
                    <a href="https://github.com/derickbailey/backbone.marionette">https://github.com/derickbailey/backbone.marionette</a>
                </li>
                <li class="slide">
                    <h3>Others</h3>
                    <a href="https://github.com/documentcloud/backbone/wiki/Extensions%2C-Plugins%2C-Resources">https://github.com/documentcloud/backbone/wiki/Extensions%2C-Plugins%2C-Resources</a>
                </li>
            </ul>
        </div>
    </section>

    <a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
    <a href="#" class="deck-next-link" title="Next">&#8594;</a>
</article>


<script src="js/deck/jquery-1.7.min.js"></script>

<!-- Deck Core and extensions -->
<script src="js/deck/core/deck.core.js"></script>
<script src="js/deck/extensions/codemirror/deck.codemirror.js"></script>
<script src="js/deck/extensions/hash/deck.hash.js"></script>
<script src="js/deck/extensions/menu/deck.menu.js"></script>
<script src="js/deck/extensions/goto/deck.goto.js"></script>

<script src="js/deck/extensions/status/deck.status.js"></script>
<script src="js/deck/extensions/navigation/deck.navigation.js"></script>

<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>

<script src="js/main.js"></script>
</body>

</html>
